{
"swagger": "2.0",
"info": {
"title": "Merk API",
"description": "\nThis is Merk API - your programmatic gateway to company data for the Czech Republic and Slovakia.\n\n### Signing up\n\nIf you would like to take advantage of access to the most comprehensive company database\nfor the Czech Republic and Slovakia **you need to be a registered user of Merk**.\nRegistration to Merk is free and you can do it\n[here](https://www.merk.cz/accounts/register/?utm_source=api_doc&utm_medium=referral&utm_campaign=api).\nAfter the registration we will contact you and activate your account.\n\n### Getting API key\n\nLog in to your activated account and go to the tab [Connection (Napojeni)](https://www.merk.cz/api/about/).\nYour API key will be displayed there. In case you need to reset the key, use the Reset key button.\n\nFor most of the requests will need your API key. Use the Authorization HTTP header to authenticate yourself:\n\n`Authorization: Token {api_key}`\n\nFor example this would be a sample API call using curl:\n\n`curl -X GET -H 'Authorization: Token {api_key}' 'https://api.merk.cz/company/?regno=14915'`\n\n### Contact & Changelog\n\nIf you need more, let us know at <podpora@merk.cz>.\nTo catch up with all API news, feel free to bookmark our [CHANGELOG](https://api.merk.cz/changelog).\n",
"contact": {
"email": "dev@imper.cz"
},
"x-logo": {
"altText": "Merk API",
"url": "data:image/svg+xml,%3Csvg viewBox='0 0 260 160' version='1.1' width='260' height='160' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23707070' d='m 147.64726,90.649972 h -5.66401 V 77.844409 76.695191 q 0,-1.970086 -1.2313,-2.873043 -1.14922,-0.902956 -2.62678,-0.902956 -1.47757,0 -2.62678,0.902956 -1.14922,0.902957 -1.14922,2.873043 v 13.954781 h -5.74609 V 77.844409 q 0,-5.581912 2.87305,-7.469912 2.95512,-1.888 6.48487,-2.052174 1.88799,0 3.6939,0.410435 1.80592,0.410435 3.28348,1.641739 1.23131,-1.067131 2.87305,-1.477565 1.72382,-0.492522 3.52973,-0.574609 3.61183,0 6.64905,1.888 3.03721,1.888 3.03721,7.634086 v 12.805563 h -2.87304 q -1.23131,0 -2.05217,-0.738782 -0.73878,-0.82087 -0.73878,-2.052174 v 0 -11.163825 q 0,-1.970086 -1.23131,-2.873043 -1.14921,-0.902956 -2.62678,-0.902956 -1.47756,0 -2.70887,0.902956 -1.14921,0.902957 -1.14921,2.873043 v 1.149218 z m 31.56012,-6.731129 h 4.10434 q -0.90295,3.447651 -3.44765,5.253564 -2.54469,1.888 -6.40278,1.888 -4.67896,0 -7.30573,-3.037217 -2.62678,-2.95513 -2.62678,-8.454955 0,-5.253565 2.54469,-8.208695 2.62678,-3.037217 7.30574,-3.037217 4.92522,0 7.63408,2.95513 2.62679,3.037217 2.62679,8.454956 0,0.328347 0,0.574608 0,0.246261 0,0.328348 0,0.410434 -0.0821,0.574609 h -14.20104 q 0.0821,2.544694 1.23131,3.775999 1.06712,1.313391 3.20138,1.313391 1.39549,0 2.38052,-0.574608 0.24626,-0.08209 0.41044,-0.246261 0.24626,-0.246261 0.49253,-0.492522 0.0821,-0.246261 0.5746,-0.656695 0.57461,-0.410435 1.55965,-0.410435 z m -9.85043,-6.402782 h 8.37286 q -0.16416,-2.216348 -1.14921,-3.283478 -1.06714,-1.149217 -3.03723,-1.149217 -1.8059,0 -2.95511,1.149217 -1.14922,1.149218 -1.23131,3.283478 z m 16.6203,13.133911 V 80.060756 q 0,-3.20139 0.90296,-5.335651 0.98504,-2.216347 2.62678,-3.529739 1.55965,-1.231304 3.61182,-1.805912 2.13427,-0.574609 4.35061,-0.574609 0.16418,0 0.41044,0 0.24626,0 0.41043,0 v 5.828173 h -1.88799 q -2.38052,0 -3.52975,1.149217 -1.14921,1.149217 -1.14921,3.611825 v 11.245912 z m 20.06796,-21.835127 v 0 8.044521 l 6.97739,-8.044521 h 6.8953 L 212.11965,77.187713 220,90.649972 h -6.89531 l -4.02226,-7.387825 q -1.23131,-2.216348 -2.13426,-1.888 -0.90296,0.328348 -0.90296,0.985044 v 3.037216 5.253565 h -5.74607 V 62.412063 h 2.95512 q 1.14922,0 1.97009,0.820869 0.82087,0.82087 0.82087,1.888 z'/%3E%3Cpath fill='%2313cdf0' d='m 95.856345,54.838984 c -0.299934,0 -0.603438,0.0064 -0.905012,0.0016 0.832607,1.053867 1.544006,2.196429 2.120926,3.407638 11.505651,0.61134 21.009211,9.833022 21.841821,21.437018 0.90963,12.716865 -8.70696,23.81055 -21.438568,24.7169 -0.557251,0.0393 -1.120396,0.0601 -1.677655,0.0601 -11.248335,0 -20.782914,-7.993846 -22.752978,-19.040586 0.506446,-1.429192 0.761872,-2.933811 0.761872,-4.471176 0,-7.432785 -6.051346,-13.479711 -13.487403,-13.479711 -7.388535,0 -13.439878,6.005386 -13.487409,13.387364 l -0.0046,0.878843 h 4.637402 l 0.0077,-0.866531 c 0.04098,-4.83172 4.010289,-8.763813 8.846927,-8.763813 4.877615,0 8.845387,3.966236 8.845387,8.843848 0,4.875973 -3.967772,8.842309 -8.845387,8.842309 h -0.147756 l -0.903467,-0.03078 v 4.654333 l 0.861914,0.01393 h 0.189317 c 4.020421,0 7.754321,-1.758158 10.302937,-4.782079 3.548404,10.804169 13.656807,18.207909 25.175571,18.207909 0.637568,0 1.281637,-0.0235 1.920836,-0.0677 7.06893,-0.50644 13.51708,-3.73247 18.15868,-9.087025 4.63995,-5.352913 6.9201,-12.190313 6.41202,-19.257606 l 0.003,0.01229 C 121.30252,65.64906 109.691,54.838984 95.856345,54.838984 Z m -14.66022,3.319906 c -3.503691,-0.06194 -6.641899,2.238278 -7.63409,5.605515 0.491694,0.376966 0.967959,0.776226 1.425232,1.197445 v -0.0016 l 0.129285,0.02155 c 0.545777,-3.259936 3.622156,-5.478239 6.896844,-4.965238 3.294357,0.522835 5.540305,3.610388 5.019106,6.901464 -0.521198,3.294355 -3.615001,5.534047 -6.90608,5.01449 l -0.05075,-0.0077 c 0.280265,0.608063 0.535785,1.232382 0.760328,1.871584 3.88439,0.121285 7.345267,-2.660379 7.968083,-6.58902 0.676899,-4.269549 -2.239336,-8.276326 -6.510526,-8.951587 -0.368311,-0.05838 -0.734953,-0.09055 -1.097402,-0.09696 z m 17.182854,11.67585 -0.0079,0.0077 c 0.0024,4.66e-4 0.0039,0.0011 0.0063,0.0016 6.46e-4,-0.0032 7.88e-4,-0.0062 0.0016,-0.0092 z m -0.0016,0.0092 c -0.661469,3.12535 -2.145859,6.034619 -4.346502,8.425203 -2.619098,2.848551 -6.052441,4.753238 -9.80735,5.479307 1.119428,5.344722 5.871264,9.368692 11.538868,9.368692 6.503485,0 11.795905,-5.288102 11.795905,-11.786667 -1.7e-4,-5.603114 -3.93272,-10.299254 -9.180921,-11.486535 z'/%3E%3Cpath fill='%230ca8de' d='m 80.777481,52.143966 c -5.764303,0 -10.708058,3.484553 -12.850213,8.462143 1.007976,0.381882 1.979458,0.839394 2.912042,1.360591 h 0.01229 c 1.627506,-3.887666 5.459232,-6.621341 9.932009,-6.621341 5.952786,0 10.77854,4.822872 10.77854,10.772378 0,5.639739 -4.339087,10.263813 -9.867374,10.729284 0.15079,0.647398 0.240445,1.314336 0.260114,1.997792 0.04098,0.391716 0.07116,0.78522 0.09081,1.18513 7.126296,-0.64248 12.716302,-6.622011 12.716302,-13.912206 0,-7.717968 -6.263295,-13.973771 -13.984542,-13.973771 z M 60.16851,60.947797 c -4.615373,0 -8.867824,1.55245 -12.263796,4.163349 l -0.02002,-0.0277 c -8.825916,6.760803 -10.493591,19.394549 -3.726232,28.212274 6.572319,8.55713 18.652208,10.37574 27.427318,4.304951 -0.857193,-1.28824 -1.572067,-2.68231 -2.117844,-4.154116 -6.796858,5.111989 -16.455386,3.805773 -21.65096,-2.95667 -2.186402,-2.851831 -3.229256,-6.221038 -3.201393,-9.558006 h 0.03386 c 0.07539,-8.503041 6.994612,-15.372842 15.520599,-15.372842 8.573515,0 15.523678,6.946042 15.523678,15.511365 h -0.0047 c 0,0.09506 -0.0032,0.18516 -0.0032,0.278583 0,11.113938 9.015958,20.124135 20.136457,20.124135 11.122143,0 20.136453,-9.010197 20.136453,-20.124135 0,-10.307561 -7.75618,-18.800934 -17.752339,-19.981002 0.399912,1.504586 0.611035,3.077174 0.611035,4.686655 v 0.07542 c 7.139414,1.396412 12.528534,7.674693 12.528534,15.218928 0,8.5686 -6.94863,15.512907 -15.522146,15.512907 -8.571876,0 -15.523677,-6.944307 -15.523677,-15.512907 v -0.278583 h 0.0047 c 0,-11.113939 -9.014318,-20.1226 -20.136457,-20.1226 z'/%3E%3C/svg%3E"
},
"version": "1.0.48"
},
"host": "api.merk.cz",
"schemes": [
"https"
],
"basePath": "/",
"consumes": [
"application/json"
],
"produces": [
"application/json"
],
"securityDefinitions": {
"Token": {
"in": "header",
"name": "Authorization",
"type": "apiKey"
}
},
"security": [
{
"Token": []
}
],
"paths": {
"/company/": {
"get": {
"operationId": "company_list",
"summary": "Detailed company info for given registration (ICO) or VAT number",
"description": "You should consult [enums](/docs/#/enums) endpoint for further information on returned values.\n        This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "regno (DIC or IC DPH) in international format f.e. CZ00014915",
"required": false,
"type": "string",
"pattern": "CZ|SK[0-9]{8,10}",
"maxLength": 12,
"minLength": 10
},
{
"name": "src_app",
"in": "query",
"description": "Optional application identifier",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "regno",
"in": "query",
"description": "Company registration number (IC) with or without leading zeros",
"required": false,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Company"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "Missing regno parameter; Bad regno format; Bad country_code;"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/business-premises/": {
"get": {
"operationId": "company_business-premises_list",
"summary": "Business premises (CZ: \"provozovny\")",
"description": "Every successful response will increase your API hits (business_premises_hits).\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number (IC) with or without leading zeros",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/BP"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/cz-financial-indicators/": {
"get": {
"operationId": "company_cz-financial-indicators_list",
"summary": "Additional financial data (CZ companies)",
"description": "This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number (IC) with or without leading zeros",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/FICZ"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/cz-financial-statements/": {
"get": {
"operationId": "company_cz-financial-statements_list",
"summary": "Financial statements data (CZ companies)",
"description": "All fields (except for the year) are optional.\n            Every successful response will increase your API hits (cz_financial_statements_hits).\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number (IC) with or without leading zeros",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/FSCZ"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/events/": {
"get": {
"operationId": "company_events_list",
"summary": "Company events for given interval",
"description": "Dates should be in YYYY-MM-DD format.\n        Results are paginated, response provides link to the next page.\n        This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "from_date",
"in": "query",
"description": "From YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "to_date",
"in": "query",
"description": "To YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "action_id",
"in": "query",
"description": "Action id to filter on (see enums)",
"required": false,
"type": "integer"
},
{
"name": "event_id",
"in": "query",
"description": "Event id to filter on (see enums)",
"required": false,
"type": "integer"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnoEvent"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Endpoint not enabled for your account"
},
"404": {
"description": "Page number out of bounds"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/financial-indicators/": {
"get": {
"operationId": "company_financial-indicators_list",
"summary": "Additional financial data",
"description": "This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/FI"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/financial-statements/": {
"get": {
"operationId": "company_financial-statements_list",
"summary": "Financial statements data",
"description": "Every successful response will increase your API hits (financial_statements_hits).\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/financial_statements"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/fleet-stats/": {
"get": {
"operationId": "company_fleet-stats_list",
"summary": "Basic stats of company car fleet",
"description": "Every successful response will increase your API hits.\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/FleetStats"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/gov-contracts/": {
"get": {
"operationId": "company_gov-contracts_list",
"summary": "Government contracts",
"description": "Every successful response will increase your API hits.\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/GovContracts"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/job-ads/": {
"get": {
"operationId": "company_job-ads_list",
"summary": "Company job offers",
"description": "This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/JobAds"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/licenses/": {
"get": {
"operationId": "company_licenses_list",
"summary": "Business licenses (CZ: \"živnosti\")",
"description": "Every successful response will increase your API hits.\n            You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n            This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "regno",
"required": true,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Licenses"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/mget/": {
"post": {
"operationId": "company_mget",
"summary": "Detailed company info for given registration numbers",
"description": "Maximum allowed number of regnos is **500** per request.\n            Request example (`Content-Type: application/json`):\n            `{\"regnos\":[28547888,25523431], \"country_code\":\"cz\"}`\n            Request example (`Content-Type: application/x-www-form-urlencoded`):\n            `country_code=cz&regnos=28547888&regnos=25523431`\n            You should consult [enums](/docs/#/enums) endpoint for further information on returned values.\n            This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "data",
"in": "body",
"required": true,
"schema": {
"$ref": "#/definitions/ReqCompanyMget"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Company"
}
},
"204": {
"description": "Resources not found"
},
"400": {
"description": "Missing regno parameter; Too many regnos passed; Bad regno format; Bad country_code;"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/new/": {
"get": {
"operationId": "company_new_list",
"summary": "List of companies established in given interval",
"description": "**This endpoint is deprecated, please use `/company/new2/` instead.**\n        Dates should be in YYYY-MM-DD format.\n        Results are paginated, response provides link to the next page.\n        This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "from_date",
"in": "query",
"description": "From YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "to_date",
"in": "query",
"description": "To YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnoNew"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Page number out of bounds"
}
},
"tags": [
"company"
],
"deprecated": true
},
"parameters": []
},
"/company/new2/": {
"get": {
"operationId": "company_new2_list",
"summary": "List of companies established in given interval",
"description": "Dates should be in YYYY-MM-DD format.\n        Results are paginated, response provides link to the next page.\n        Pagination is valid only for 30 minutes after the first request.\n        This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "from_date",
"in": "query",
"description": "From YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "to_date",
"in": "query",
"description": "To YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnoNew2"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Next link is either incorrect or expired"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/company/updates/": {
"get": {
"operationId": "company_updates_list",
"summary": "List of companies updated in given interval",
"description": "**This endpoint is deprecated, please use `/company/updates2/` instead.**\n        Dates should be in YYYY-MM-DD format.\n        Results are paginated, response provides link to the next page.\n        This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "from_date",
"in": "query",
"description": "From YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "to_date",
"in": "query",
"description": "To YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnoUpdate"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Page number out of bounds"
}
},
"tags": [
"company"
],
"deprecated": true
},
"parameters": []
},
"/company/updates2/": {
"get": {
"operationId": "company_updates2_list",
"summary": "List of companies updated in given interval",
"description": "Dates should be in YYYY-MM-DD format.\n        Results are paginated, response provides link to the next page.\n        Pagination is valid only for 30 minutes after the first request.\n        This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "from_date",
"in": "query",
"description": "From YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
},
{
"name": "to_date",
"in": "query",
"description": "To YYYY-MM-DD date",
"required": true,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnoUpdate2"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Next link is either incorrect or expired"
}
},
"tags": [
"company"
]
},
"parameters": []
},
"/embed/company/": {
"get": {
"operationId": "embed_company",
"summary": "Company detail page suitable for IFRAME embedding",
"description": "You **have to** provide your API key via the token parameter.\n        This endpoint is throttled to **500 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
},
{
"name": "token",
"in": "query",
"description": "Your API key",
"required": true,
"type": "string",
"pattern": "[a-zA-Z0-9]{32}",
"maxLength": 32,
"minLength": 32
},
{
"name": "branding",
"in": "query",
"description": "Your branding identifier",
"type": "string"
}
],
"responses": {
"200": {
"description": "OK"
},
"400": {
"description": "Missing regno parameter; Bad regno format; Bad country_code; Bad token format"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Resource not found"
}
},
"produces": [
"text/html"
],
"tags": [
"embed"
]
},
"parameters": []
},
"/embed/person/": {
"get": {
"operationId": "embed_person",
"summary": "Person detail page suitable for IFRAME embedding",
"description": "You **have to** provide your API key via the token parameter.\n        Only **cz** persons are supported at the moment.\n        This endpoint is throttled to **500 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "token",
"in": "query",
"description": "Your API key",
"required": true,
"type": "string",
"pattern": "[a-zA-Z0-9]{32}",
"maxLength": 32,
"minLength": 32
},
{
"name": "person_id",
"in": "query",
"description": "Person id",
"required": true,
"type": "string",
"pattern": "[a-zA-Z0-9]{1,16}",
"maxLength": 16,
"minLength": 1
},
{
"name": "branding",
"in": "query",
"description": "Your branding identifier",
"type": "string"
}
],
"responses": {
"200": {
"description": "OK"
},
"400": {
"description": "Missing regno parameter; Bad regno format; Bad country_code; Bad token format"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
},
"404": {
"description": "Resource not found"
}
},
"produces": [
"text/html"
],
"tags": [
"embed"
]
},
"parameters": []
},
"/enums/": {
"get": {
"operationId": "enums_list",
"summary": "List of enumerations used in Merk to describe companies",
"description": "For example company status, magnitude, district and many more.\n            Enums can help you optimize resources when dealing with our API.\n            This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
}
],
"responses": {
"200": {
"description": "OK"
},
"400": {
"description": "Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account"
},
"429": {
"description": "Throttle limit exhausted"
}
},
"tags": [
"enums"
]
},
"parameters": []
},
"/enums/{id}/": {
"get": {
"operationId": "enums_read",
"summary": "Values of particular enum",
"description": "This endpoint is throttled to **10 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "id",
"in": "path",
"description": "enum key",
"required": true,
"type": "string",
"enum": [
"company_industry",
"company_legal_form",
"company_status",
"company_owning_type",
"company_court",
"company_status",
"company_role",
"region",
"district",
"company_magnitude",
"company_turnover",
"company_esi_status",
"company_financial_statements",
"company_insolvency_statuses",
"company_events",
"company_events_actions",
"company_business_premises_types",
"banks",
"country_codes",
"company_license_status",
"company_license_type",
"company_insolvency_type"
]
}
],
"responses": {
"200": {
"description": "OK"
},
"400": {
"description": "Invalid enum key; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account"
},
"429": {
"description": "Throttle limit exhausted"
}
},
"tags": [
"enums"
]
},
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"type": "string"
}
]
},
"/register-user/": {
"post": {
"operationId": "register-user_create",
"summary": "User registration for partners of Merk",
"description": "If you are registered partner of Merk you can leverage this method to register users into Merk.\n\nIf you want to become a partner contact us at [podpora@merk.cz](mailto:podpora@merk.cz)\n\nAPI validates:\n\n* `partner_code`\n* `email` format\n* `territory`/`regno`: checks if company with provided `regno` and `territory` exists\n\n**Example responses:**\n\n`HTTP 200`, User is registered:\n\n    {\n        \"login_email\": \"abcd@example.com\",\n        \"password\": \"someRand0mPwd\",\n        \"api_key\": \"asdfedeASAD1234AdasdaBla\"\n    }\n\n`HTTP 400 Bad Request`, Not found company (regno + territory):\n\n    {\n        \"non_field_errors\": [\n        \"No such company found, please enter proper Reg. no.\"\n        ]\n    }\n\n`HTTP 202 Accepted`, dry-run:\n\n    {\n        \"detail\": \"Validation successful. But dry run requested, no user created.\"\n    }\n\n`HTTP 403 Forbidden`, Registration disabled:\n\n    {\n        \"detail\": \"User registration is currently disabled.\"\n    }\n\nThis endpoint is throttled to **40 requests per minute**.\n",
"parameters": [
{
"name": "partner_code",
"in": "query",
"description": "Your partner code",
"required": true,
"type": "string",
"maxLength": 32,
"minLength": 8
},
{
"name": "territory",
"in": "query",
"description": "Where is the registered company from",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
],
"default": "cz"
},
{
"name": "email",
"in": "query",
"description": "Contact person's valid e-mail address",
"required": true,
"type": "string",
"format": "email",
"minLength": 1
},
{
"name": "first_name",
"in": "query",
"description": "Contact person's first name",
"required": true,
"type": "string",
"maxLength": 64,
"minLength": 1
},
{
"name": "last_name",
"in": "query",
"description": "Contact person's last name",
"required": true,
"type": "string",
"maxLength": 64,
"minLength": 1
},
{
"name": "regno",
"in": "query",
"description": "Company's registration number",
"required": true,
"type": "integer",
"maximum": 99999999,
"minimum": 1
},
{
"name": "phone",
"in": "query",
"description": "Contact person's phone",
"required": false,
"type": "string",
"maxLength": 12,
"minLength": 1
},
{
"name": "position",
"in": "query",
"description": "Contact person's working position",
"required": false,
"type": "string",
"maxLength": 64,
"minLength": 1
},
{
"name": "dry_run",
"in": "query",
"description": "With dry_run API only validates data, no user created",
"required": false,
"type": "boolean",
"default": true
}
],
"responses": {
"200": {
"description": "OK"
},
"202": {
"description": "Successful validation but no user created (dry_run mode)"
},
"400": {
"description": "Invalid data, details in response"
},
"403": {
"description": "Registration disabled"
},
"500": {
"description": "Internal server error"
}
},
"tags": [
"register-user"
]
},
"parameters": []
},
"/relations/company/": {
"get": {
"operationId": "relations_company",
"summary": "Graph representation of relations of the given COMPANY",
"description": "Returns list of items you can use to construct directed graph of companies and persons.\n            Returned items are either nodes (company or person) or edges (relations). Every node has `id`\n            property which is used in relations as `source` or `target` values. You can use either `company_id`\n            or `person_id` ids for next queries.\n        This endpoint is throttled to **30 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "hops",
"in": "query",
"required": false,
"type": "integer",
"default": 1,
"maximum": 2,
"minimum": 1
},
{
"name": "relation_type",
"in": "query",
"required": true,
"type": "string",
"enum": [
"current",
"any",
"historical"
]
},
{
"name": "from_date_gte",
"in": "query",
"required": false,
"type": "string",
"format": "date"
},
{
"name": "to_date_lte",
"in": "query",
"required": false,
"type": "string",
"format": "date"
},
{
"name": "share_gte",
"in": "query",
"required": false,
"type": "number"
},
{
"name": "company_role_id",
"in": "query",
"required": false,
"type": "integer"
},
{
"name": "company_id",
"in": "query",
"description": "In \"{country_code}-{regno} format or @TBD\"",
"required": true,
"type": "string",
"maxLength": 50,
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/GraphResponse"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Bad parameter value"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; API disabled"
}
},
"tags": [
"relations"
]
},
"parameters": []
},
"/relations/person/": {
"get": {
"operationId": "relations_person",
"summary": "Graph representation of relations of the given PERSON",
"description": "Returns list of items you can use to construct directed graph of companies and persons.\n            Returned items are either nodes (company or person) or edges (relations). Every node has `id`\n            property which is used in relations as `source` or `target` values. You can use either `company_id`\n            or `person_id` ids for next queries.\n        This endpoint is throttled to **30 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "hops",
"in": "query",
"required": false,
"type": "integer",
"default": 1,
"maximum": 2,
"minimum": 1
},
{
"name": "relation_type",
"in": "query",
"required": true,
"type": "string",
"enum": [
"current",
"any",
"historical"
]
},
{
"name": "from_date_gte",
"in": "query",
"required": false,
"type": "string",
"format": "date"
},
{
"name": "to_date_lte",
"in": "query",
"required": false,
"type": "string",
"format": "date"
},
{
"name": "share_gte",
"in": "query",
"required": false,
"type": "number"
},
{
"name": "company_role_id",
"in": "query",
"required": false,
"type": "integer"
},
{
"name": "person_id",
"in": "query",
"description": "@TBD",
"required": true,
"type": "string",
"maxLength": 50,
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/GraphResponse"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Bad parameter value"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; API disabled"
}
},
"tags": [
"relations"
]
},
"parameters": []
},
"/relations/search/person/": {
"get": {
"operationId": "relations_search_person_list",
"summary": "Search for persons by name and (optionally) birth date",
"description": "You can use `person_id` from returned set for graph queries in other endpoints.\n        This endpoint is throttled to **30 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "name",
"in": "query",
"description": "First and last name or just last name",
"required": true,
"type": "string",
"maxLength": 50,
"minLength": 1
},
{
"name": "birth_date",
"in": "query",
"description": "Birth date in YYYY-MM-DD format",
"required": false,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/PersonSearchResult"
}
},
"400": {
"description": "No parameters; Bad date format; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; API not enabled"
},
"404": {
"description": "Page number out of bounds"
}
},
"tags": [
"relations"
]
},
"parameters": []
},
"/relations/shortest-path/": {
"get": {
"operationId": "relations_shortest_path",
"summary": "Find (one) shortest path between two graph nodes (person or company)",
"description": "This endpoint is throttled to **30 requests per minute**.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "relation_type",
"in": "query",
"required": true,
"type": "string",
"enum": [
"current",
"any",
"historical"
]
},
{
"name": "node1_id",
"in": "query",
"required": true,
"type": "string",
"maxLength": 50,
"minLength": 1
},
{
"name": "node1_label",
"in": "query",
"required": true,
"type": "string",
"enum": [
"company",
"person"
]
},
{
"name": "node2_id",
"in": "query",
"required": true,
"type": "string",
"maxLength": 50,
"minLength": 1
},
{
"name": "node2_label",
"in": "query",
"required": true,
"type": "string",
"enum": [
"company",
"person"
]
},
{
"name": "hops",
"in": "query",
"required": false,
"type": "integer",
"default": 1,
"maximum": 3,
"minimum": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/GraphResponse"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Bad parameter value"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; API disabled"
}
},
"tags": [
"relations"
]
},
"parameters": []
},
"/search/cz/": {
"post": {
"operationId": "search_cz",
"summary": "Search for czech companies matching the specified filters.",
"description": "\nSearch cz/sk companies by filters.\nThis endpoint allows you to search for companies based on various filters such as industry, location, turnover and other attributes.\nThe results will include detailed information about the companies that match the search criteria. \n\nResults are paginated, response provides link to the next page.\n\nThis endpoint is throttled to **600 requests per minute**.\n",
"parameters": [
{
"name": "data",
"in": "body",
"required": true,
"schema": {
"$ref": "#/definitions/CZSearchRequest"
}
},
{
"name": "query",
"in": "query",
"description": "The query parameter is utilized for full-text search of companies by name.",
"required": false,
"type": "string",
"default": "",
"minLength": 1
},
{
"name": "ordering",
"in": "query",
"description": "The ordering parameter specifies the order in which the results are returned. Acceptable multiple order query param example: `/?ordering=-turnover_id,magnitude_id,name`",
"required": false,
"type": "array",
"items": {
"type": "string",
"enum": [
"turnover_id",
"-turnover_id",
"magnitude_id",
"-magnitude_id",
"name",
"-name",
"municipality",
"-municipality"
]
},
"default": [
"-turnover_id",
"-magnitude_id",
"name",
"municipality"
]
}
],
"responses": {
"200": {
"description": "",
"schema": {
"$ref": "#/definitions/SearchResult"
}
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"search"
]
},
"parameters": []
},
"/search/sk/": {
"post": {
"operationId": "search_sk",
"summary": "Search for slovak companies matching the specified filters.",
"description": "\nSearch cz/sk companies by filters.\nThis endpoint allows you to search for companies based on various filters such as industry, location, turnover and other attributes.\nThe results will include detailed information about the companies that match the search criteria. \n\nResults are paginated, response provides link to the next page.\n\nThis endpoint is throttled to **600 requests per minute**.\n",
"parameters": [
{
"name": "data",
"in": "body",
"required": true,
"schema": {
"$ref": "#/definitions/SKSearchRequest"
}
},
{
"name": "query",
"in": "query",
"description": "The query parameter is utilized for full-text search of companies by name.",
"required": false,
"type": "string",
"default": "",
"minLength": 1
},
{
"name": "ordering",
"in": "query",
"description": "The ordering parameter specifies the order in which the results are returned. Acceptable multiple order query param example: `/?ordering=-turnover_id,magnitude_id,name`",
"required": false,
"type": "array",
"items": {
"type": "string",
"enum": [
"turnover_id",
"-turnover_id",
"magnitude_id",
"-magnitude_id",
"name",
"-name",
"municipality",
"-municipality"
]
},
"default": [
"-turnover_id",
"-magnitude_id",
"name",
"municipality"
]
}
],
"responses": {
"200": {
"description": "",
"schema": {
"$ref": "#/definitions/SearchResult"
}
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"search"
]
},
"parameters": []
},
"/sets/regnoset/": {
"get": {
"operationId": "sets_regnoset_list",
"summary": "List of all your saved regnoSets from Merk app",
"description": "This endpoint is throttled to **30 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/SavedSet"
}
},
"401": {
"description": "Not authorized"
}
},
"tags": [
"sets"
]
},
"parameters": []
},
"/sets/regnoset/{id}/regnos": {
"get": {
"operationId": "sets_regnoset_regnos_read",
"summary": "List of regnos within given regnoSet",
"description": "This endpoint is throttled to **30 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnos"
}
},
"401": {
"description": "Not authorized"
},
"404": {
"description": "regnoSet not found"
}
},
"tags": [
"sets"
]
},
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"type": "string"
}
]
},
"/sets/saved-search/": {
"get": {
"operationId": "sets_saved-search_list",
"summary": "List of all your saved searches from Merk app",
"description": "This endpoint is throttled to **30 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/SavedSearch"
}
},
"401": {
"description": "Not authorized"
}
},
"tags": [
"sets"
]
},
"parameters": []
},
"/sets/saved-search/{id}/regnos": {
"get": {
"operationId": "sets_saved-search_regnos_read",
"summary": "List of regnos matching given saved search",
"description": "This endpoint is throttled to **30 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/regnos"
}
},
"401": {
"description": "Not authorized"
},
"404": {
"description": "Saved search not found"
}
},
"tags": [
"sets"
]
},
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"type": "string"
}
]
},
"/subscriptions/": {
"get": {
"operationId": "subscriptions_list",
"summary": "Your subscription info for each country (cz, sk)",
"description": "This endpoint is throttled to **60 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Subscription"
}
},
"401": {
"description": "Not authorized"
}
},
"tags": [
"subscriptions"
]
},
"parameters": []
},
"/suggest/": {
"get": {
"operationId": "suggest_list",
"summary": "Find companies by name, email etc.",
"description": "\nMethod for getting basic company data for provided name (or part of it), email address, bank account number or regno (=IČ, unique identifier of CZ and SK companies). It is a good data source for your application completion suggesters (f.e. [typeahead](https://twitter.github.io/typeahead.js/))\n\nCompanies can be suggested using one of ways listed below:\n\n* from a **name** (or part of it) of the company using **name** parameter,\n* or from an **email** using **email** parameter,\n* or from an **bank account number** using **bank_account** parameter,\n* or from a **regno** using **regno** parameter - exact match (default) or from beginning of regno (with param expand_regno).\n\nResponse is **limited to 10 best matching subjects** (if applicable). Every successful response will increase your api hits (suggest_hits). You can check your current hits and monthly limit at [subscriptions](/docs/#operation/subscriptions_list) endpoint.\n\nAnd yes, we do provide ready to use javascript library [merk-suggest-company-js](https://github.com/impercz/merk-suggest-company-js) ;)\n\nThis endpoint is throttled to **600 requests per minute**.\n",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": false,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number (IC) with or without leading zeros",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "email",
"in": "query",
"required": false,
"type": "string",
"format": "email",
"minLength": 1
},
{
"name": "name",
"in": "query",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "bank_account",
"in": "query",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "only_active",
"in": "query",
"required": false,
"type": "boolean",
"default": false
},
{
"name": "sort_by",
"in": "query",
"required": false,
"type": "string",
"enum": [
"fulltext_score",
"name",
"turnover",
"turnover_name"
],
"default": "fulltext_score"
},
{
"name": "birth_date",
"in": "query",
"required": false,
"type": "string",
"pattern": "^\\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$",
"minLength": 1
},
{
"name": "expand_regno",
"in": "query",
"required": false,
"type": "boolean",
"default": false
},
{
"name": "include_historic",
"in": "query",
"required": false,
"type": "boolean",
"default": false
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Suggest"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters; Name is too short; Invalid email; Invalid regno; Invalid country code"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"suggest"
]
},
"parameters": []
},
"/suggest/feedback/": {
"post": {
"operationId": "suggest_feedback_create",
"summary": "Send feedback on suggested data",
"description": "Method to send us feedback on suggested data.\n            In case user would correct (f.e. some of the suggested fields having outdated information) suggested data you can send such data back to us to improve our database. That way both sides can benefit from it.",
"parameters": [
{
"name": "country_code",
"in": "query",
"description": "2 char country code e.g. \"cz\"",
"required": true,
"type": "string",
"enum": [
"cz",
"sk"
]
},
{
"name": "regno",
"in": "query",
"description": "Company registration number",
"required": true,
"type": "string",
"minLength": 1
},
{
"name": "data",
"in": "query",
"required": true,
"type": "string"
}
],
"responses": {
"201": {
"description": "Resource created"
},
"400": {
"description": "No data or regno parameters; Invalid regno"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account"
}
},
"tags": [
"suggest"
]
},
"parameters": []
},
"/tags/": {
"get": {
"operationId": "tags_list",
"summary": "List of user-defined tags",
"description": "Tags assigned by users from your company (which share same email domain).\n            This endpoint is throttled to **60 requests per hour**.",
"parameters": [
{
"name": "from_date",
"in": "query",
"description": "tags assigned from YYYY-MM-DD date",
"required": false,
"type": "string",
"format": "date"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Tags"
}
},
"401": {
"description": "Not authorized"
}
},
"tags": [
"tags"
]
},
"parameters": []
},
"/vokativ/": {
"get": {
"operationId": "vokativ_list",
"summary": "Vocative case and sex for given first and/or last name",
"description": "This endpoint is throttled to **60 requests per minute**.",
"parameters": [
{
"name": "first_name",
"in": "query",
"required": false,
"type": "string",
"minLength": 1
},
{
"name": "last_name",
"in": "query",
"required": false,
"type": "string",
"minLength": 1
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/VokativResp"
}
},
"204": {
"description": "Resource not found"
},
"400": {
"description": "No parameters"
},
"401": {
"description": "Not authorized"
},
"403": {
"description": "Expired account; Assigned API calls limit exhausted"
}
},
"tags": [
"vokativ"
]
},
"parameters": []
},
"/workspace-subscription/": {
"get": {
"operationId": "workspace-subscription_list",
"summary": "Your workspace subscription info",
"description": "This endpoint is throttled to **60 requests per hour**.",
"parameters": [],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/Subscription"
}
},
"401": {
"description": "Not authorized"
},
"404": {
"description": "Workspace subscription not found"
}
},
"tags": [
"workspace-subscription"
]
},
"parameters": []
}
},
"definitions": {
"LegalForm": {
"title": "Legal form",
"description": "Legal form e.g. \"Akciová společnost\" with id e.g. 101",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"Status": {
"title": "Status",
"description": "Company status",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"Region": {
"title": "Region",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"County": {
"title": "County",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"Address": {
"title": "Address",
"required": [
"number_descriptive",
"municipality_part",
"municipality",
"number",
"street",
"postal_code",
"number_orientation",
"municipality_first",
"street_fixed",
"region",
"county",
"lines",
"text"
],
"type": "object",
"properties": {
"country_code": {
"title": "Country code",
"description": "2 char country code e.g. \"cz\"",
"type": "string",
"enum": [
"cz",
"sk"
]
},
"number_descriptive": {
"title": "Number descriptive",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"municipality_part": {
"title": "Municipality part",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"municipality": {
"title": "Municipality",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"number": {
"title": "Number",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"street": {
"title": "Street",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"postal_code": {
"title": "Postal code",
"type": "string",
"maxLength": 10,
"minLength": 1
},
"number_orientation": {
"title": "Number orientation",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"municipality_first": {
"title": "Municipality first",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"street_fixed": {
"title": "Street fixed",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"region": {
"$ref": "#/definitions/Region"
},
"county": {
"$ref": "#/definitions/County"
},
"lines": {
"description": "2-3 address lines according to czech law 359/2011 Sb.",
"type": "array",
"items": {
"description": "2-3 address lines according to czech law 359/2011 Sb.",
"type": "object",
"properties": {}
}
},
"text": {
"title": "Text",
"description": "Text representation if no structured data is available",
"type": "string",
"maxLength": 1000,
"minLength": 1
}
}
},
"BankAccount": {
"description": "List of bank accounts",
"required": [
"account_number",
"bank_code"
],
"type": "object",
"properties": {
"account_number": {
"title": "Account number",
"type": "string",
"maxLength": 64,
"minLength": 5
},
"bank_code": {
"title": "Bank code",
"type": "string",
"maxLength": 4,
"minLength": 4
}
}
},
"PhoneScored": {
"description": "List of contact phones",
"required": [
"score",
"acc",
"number"
],
"type": "object",
"properties": {
"score": {
"title": "Score",
"description": "A|B|C A == best",
"type": "string",
"maxLength": 1,
"minLength": 1
},
"acc": {
"title": "Acc",
"description": "Advanced contact checked performed",
"type": "string",
"format": "date-time"
},
"number": {
"title": "Number",
"type": "string",
"maxLength": 15,
"minLength": 1
}
}
},
"EmailScored": {
"description": "List of contact e-mail addresses",
"required": [
"score",
"acc",
"email"
],
"type": "object",
"properties": {
"score": {
"title": "Score",
"description": "A|B|C A == best",
"type": "string",
"maxLength": 1,
"minLength": 1
},
"acc": {
"title": "Acc",
"description": "Advanced contact checked performed",
"type": "string",
"format": "date-time"
},
"email": {
"title": "Email",
"type": "string",
"format": "email",
"minLength": 1
}
}
},
"WebScored": {
"description": "List of web pages",
"required": [
"score",
"acc",
"url"
],
"type": "object",
"properties": {
"score": {
"title": "Score",
"description": "A|B|C A == best",
"type": "string",
"maxLength": 1,
"minLength": 1
},
"acc": {
"title": "Acc",
"description": "Advanced contact checked performed",
"type": "string",
"format": "date-time"
},
"url": {
"title": "Url",
"type": "string",
"maxLength": 1000,
"minLength": 1
}
}
},
"Industry": {
"title": "Industry",
"description": "Main industry e.g. \"Výroba motorových vozidel a jejich motorů\" and its code",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"Magnitude": {
"title": "Magnitude",
"description": "Company magnitude e.g. \"10 000 a více zam.\"",
"required": [
"id",
"trend",
"lower_bound",
"upper_bound",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"trend": {
"title": "Trend",
"description": "stagnating|unknown|rising|falling",
"type": "string",
"minLength": 1
},
"lower_bound": {
"title": "Lower bound",
"type": "string",
"minLength": 1
},
"upper_bound": {
"title": "Upper bound",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"type": "string",
"minLength": 1
}
}
},
"Turnover": {
"title": "Turnover",
"description": "Company turnover e.g. \"1 500 000 000 Kč a více\"",
"required": [
"id",
"trend",
"lower_bound",
"upper_bound",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"trend": {
"title": "Trend",
"description": "stagnating|unknown|rising|falling",
"type": "string",
"minLength": 1
},
"lower_bound": {
"title": "Lower bound",
"type": "string",
"minLength": 1
},
"upper_bound": {
"title": "Upper bound",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"type": "string",
"minLength": 1
}
}
},
"Court": {
"title": "Court",
"description": "Court name with file ref.",
"required": [
"name",
"file_nr"
],
"type": "object",
"properties": {
"name": {
"title": "Name",
"description": "Regional court name",
"type": "string",
"minLength": 1
},
"file_nr": {
"title": "File nr",
"description": "File number",
"type": "string",
"minLength": 1
}
}
},
"InsolvencyCase": {
"description": "Insolvency cases",
"required": [
"stamp",
"status",
"ws_id",
"court_file_nr"
],
"type": "object",
"properties": {
"stamp": {
"title": "Stamp",
"type": "string",
"format": "date"
},
"status": {
"title": "Status",
"type": "integer"
},
"ws_id": {
"title": "Ws id",
"description": "Case id at ISIR (interpolate into \"https://isir.justice.cz/isir/ueu/evidence_upadcu_detail.do?id=%s\")",
"type": "string",
"minLength": 1
},
"court_file_nr": {
"title": "Court file nr",
"type": "string",
"minLength": 1
}
}
},
"SKInsolvencyCase": {
"description": "Sk insolvency cases",
"required": [
"stamp",
"status",
"type_id",
"ru_id",
"court_file_nr"
],
"type": "object",
"properties": {
"stamp": {
"title": "Stamp",
"type": "string",
"format": "date"
},
"status": {
"title": "Status",
"type": "integer"
},
"type_id": {
"title": "Type id",
"type": "integer"
},
"ru_id": {
"title": "Ru id",
"description": "Case id at RU (interoplate into \"https://ru.justice.sk/ru-verejnost-web/pages/konanieDetail.xhtml?konanieId=%d\")",
"type": "integer"
},
"court_file_nr": {
"title": "Court file nr",
"type": "string",
"minLength": 1
}
}
},
"GPS": {
"title": "Gps",
"required": [
"lat",
"lon"
],
"type": "object",
"properties": {
"lat": {
"title": "Lat",
"type": "number"
},
"lon": {
"title": "Lon",
"type": "number"
}
}
},
"OwningType": {
"title": "Owning type",
"description": "Owning type",
"required": [
"id",
"text"
],
"type": "object",
"properties": {
"id": {
"title": "Id",
"description": "Id from Enums",
"type": "string",
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation",
"type": "string",
"minLength": 1
}
}
},
"Profit": {
"title": "Profit",
"description": "Profit in thousands Kč and its trend",
"required": [
"trend",
"year",
"amount"
],
"type": "object",
"properties": {
"trend": {
"title": "Trend",
"description": "stagnating|unknown|rising|falling",
"type": "string",
"minLength": 1
},
"year": {
"title": "Year",
"type": "integer"
},
"amount": {
"title": "Amount",
"description": "Amount in thousands CZK",
"type": "integer"
}
}
},
"FS": {
"title": "Ebidta",
"description": "EBIDTA",
"required": [
"year",
"amount"
],
"type": "object",
"properties": {
"year": {
"title": "Year",
"type": "integer"
},
"amount": {
"title": "Amount",
"description": "Amount in thousands CZK",
"type": "integer"
}
}
},
"CompanyIndex": {
"title": "Company index",
"description": "Rating",
"required": [
"year",
"value"
],
"type": "object",
"properties": {
"year": {
"title": "Year",
"type": "integer"
},
"value": {
"title": "Value",
"description": "Conversion to rating: >=95 A+++, >=92 A++, >=85 A+, >=75 A, >=60 B, >=50 C, >=45 D, >=35 E, <35 FX",
"type": "integer"
}
}
},
"BodyAddress": {
"title": "Address",
"required": [
"number_descriptive",
"municipality_part",
"municipality",
"number",
"street",
"postal_code",
"number_orientation",
"municipality_first",
"street_fixed",
"text"
],
"type": "object",
"properties": {
"country_code": {
"title": "Country code",
"description": "2 char country code e.g. \"cz\"",
"type": "string",
"enum": [
"cz",
"sk"
]
},
"number_descriptive": {
"title": "Number descriptive",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"municipality_part": {
"title": "Municipality part",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"municipality": {
"title": "Municipality",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"number": {
"title": "Number",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"street": {
"title": "Street",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"postal_code": {
"title": "Postal code",
"type": "string",
"maxLength": 10,
"minLength": 1
},
"number_orientation": {
"title": "Number orientation",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"municipality_first": {
"title": "Municipality first",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"street_fixed": {
"title": "Street fixed",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"text": {
"title": "Text",
"description": "Text representation if no structured data is available",
"type": "string",
"maxLength": 1000,
"minLength": 1
}
}
},
"BodyPerson": {
"required": [
"first_name",
"last_name",
"age",
"degree_after",
"degree_before",
"link",
"gender",
"salutation",
"company_role",
"company_role_id",
"address"
],
"type": "object",
"properties": {
"country_code": {
"title": "Country code",
"description": "2 char country code e.g. \"cz\"",
"type": "string",
"enum": [
"cz",
"sk"
]
},
"first_name": {
"title": "First name",
"type": "string",
"minLength": 1
},
"last_name": {
"title": "Last name",
"type": "string",
"minLength": 1
},
"age": {
"title": "Age",
"type": "integer"
},
"degree_after": {
"title": "Degree after",
"type": "string",
"minLength": 1
},
"degree_before": {
"title": "Degree before",
"type": "string",
"minLength": 1
},
"link": {
"title": "Link",
"type": "string",
"format": "uri",
"minLength": 1
},
"gender": {
"title": "Gender",
"description": "male|female",
"type": "string",
"minLength": 1
},
"salutation": {
"title": "Salutation",
"type": "string",
"minLength": 1
},
"company_role": {
"title": "Company role",
"type": "string",
"minLength": 1
},
"company_role_id": {
"title": "Company role id",
"type": "integer"
},
"address": {
"$ref": "#/definitions/BodyAddress"
}
}
},
"Body": {
"title": "Body",
"description": "Persons associated with the company",
"required": [
"average_age",
"persons"
],
"type": "object",
"properties": {
"average_age": {
"title": "Average age",
"type": "integer"
},
"persons": {
"type": "array",
"items": {
"$ref": "#/definitions/BodyPerson"
}
}
}
},
"ESI": {
"description": "European Structural & Investment Funds grants (cz only)",
"required": [
"project_name",
"status_id",
"esi_program",
"eu_fund",
"allocation_amount",
"total_paid_from_project_start",
"iterim_payment_date",
"allocation_date",
"expected_end_date_of_the_operation",
"union_cofinancing_rate"
],
"type": "object",
"properties": {
"project_name": {
"title": "Project name",
"type": "string",
"minLength": 1
},
"status_id": {
"title": "Status id",
"type": "integer"
},
"esi_program": {
"title": "Esi program",
"type": "string",
"minLength": 1
},
"eu_fund": {
"title": "Eu fund",
"type": "string",
"minLength": 1
},
"allocation_amount": {
"title": "Allocation amount",
"type": "integer"
},
"total_paid_from_project_start": {
"title": "Total paid from project start",
"description": "In CZK",
"type": "integer"
},
"iterim_payment_date": {
"title": "Iterim payment date",
"description": "Datetetime in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"allocation_date": {
"title": "Allocation date",
"description": "Datetetime in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"expected_end_date_of_the_operation": {
"title": "Expected end date of the operation",
"description": "Datetetime in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"union_cofinancing_rate": {
"title": "Union cofinancing rate",
"type": "number"
}
}
},
"GovernmentGrant": {
"description": "Local government grants (cz only)",
"required": [
"grant_id",
"beneficiary_id",
"case_id",
"project_code",
"project_name",
"project_id",
"signed_date",
"amount_requested",
"amount_granted"
],
"type": "object",
"properties": {
"grant_id": {
"title": "Grant id",
"type": "string",
"minLength": 1
},
"beneficiary_id": {
"title": "Beneficiary id",
"type": "string",
"minLength": 1
},
"case_id": {
"title": "Case id",
"type": "string",
"minLength": 1
},
"project_code": {
"title": "Project code",
"type": "string",
"minLength": 1
},
"project_name": {
"title": "Project name",
"type": "string",
"minLength": 1
},
"project_id": {
"title": "Project id",
"type": "string",
"minLength": 1
},
"signed_date": {
"title": "Signed date",
"type": "string",
"format": "date-time"
},
"amount_requested": {
"title": "Amount requested",
"description": "In CZK",
"type": "number"
},
"amount_granted": {
"title": "Amount granted",
"description": "In CZK",
"type": "number"
}
}
},
"Trademark": {
"description": "Registered trademarks",
"required": [
"wording",
"reproduction",
"stamp_application",
"stamp_registered",
"product_or_service_classes",
"image_classes",
"nr_register",
"nr_application",
"source",
"url",
"url_doc",
"tm_type",
"status"
],
"type": "object",
"properties": {
"wording": {
"title": "Wording",
"type": "string",
"minLength": 1
},
"reproduction": {
"title": "Reproduction",
"type": "string",
"minLength": 1
},
"stamp_application": {
"title": "Stamp application",
"description": "Trademark application date in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"stamp_registered": {
"title": "Stamp registered",
"description": "Trademark registration date in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"product_or_service_classes": {
"title": "Product or service classes",
"type": "string",
"minLength": 1
},
"image_classes": {
"title": "Image classes",
"type": "string",
"minLength": 1
},
"nr_register": {
"title": "Nr register",
"description": "Registration number",
"type": "string",
"minLength": 1
},
"nr_application": {
"title": "Nr application",
"description": "Applicaton number",
"type": "integer"
},
"source": {
"title": "Source",
"type": "string",
"minLength": 1
},
"url": {
"title": "Url",
"type": "string",
"minLength": 1
},
"url_doc": {
"title": "Url doc",
"type": "string",
"minLength": 1
},
"tm_type": {
"title": "Tm type",
"type": "string",
"minLength": 1
},
"status": {
"title": "Status",
"type": "string",
"minLength": 1
}
}
},
"Contact": {
"description": "List of Twitter accounts",
"type": "object",
"properties": {}
},
"ActingManner": {
"required": [
"manner_text",
"start_date"
],
"type": "object",
"properties": {
"manner_text": {
"title": "Manner text",
"type": "string",
"minLength": 1
},
"start_date": {
"title": "Start date",
"type": "string",
"format": "date-time"
}
}
},
"LastFinancialStatement": {
"title": "Last financial statement",
"description": "Dates of last published financial statement (cz only)",
"required": [
"published_date",
"statement_date"
],
"type": "object",
"properties": {
"published_date": {
"title": "Published date",
"type": "string",
"format": "date"
},
"statement_date": {
"title": "Statement date",
"type": "string",
"format": "date"
}
}
},
"Company": {
"required": [
"regno",
"regno_str",
"regno",
"taxno",
"databox_ids",
"name",
"legal_form",
"estab_date",
"closing_date",
"status",
"is_active",
"industry",
"secondary_industries",
"magnitude",
"turnover",
"court",
"is_vatpayer",
"vat_registration_type",
"vat_registration_date",
"is_unreliable_vatpayer",
"unreliable_vatpayer_since",
"vzp_debt",
"salutation",
"owning_type",
"profit",
"ebidta",
"bank_accounts_balance",
"company_index",
"link",
"business_premises_count",
"active_licenses_count",
"body"
],
"type": "object",
"properties": {
"regno": {
"title": "regno",
"description": "Registration number",
"type": "string",
"minLength": 1
},
"regno_str": {
"title": "regno str",
"description": "Zero-padded regno string",
"type": "string",
"maxLength": 8,
"minLength": 1
},
"regno": {
"title": "regno",
"description": "VAT number (cz: DIC, sk: IC DPH)",
"type": "string",
"maxLength": 16,
"minLength": 1
},
"taxno": {
"title": "Taxno",
"description": "Tax number (sk: DIC, cz: null)",
"type": "string",
"maxLength": 16,
"minLength": 1
},
"databox_ids": {
"description": "List of \"datova schranka\" ids",
"type": "array",
"items": {
"description": "List of \"datova schranka\" ids",
"type": "object",
"properties": {}
}
},
"name": {
"title": "Name",
"description": "Subject name",
"type": "string",
"minLength": 1
},
"legal_form": {
"$ref": "#/definitions/LegalForm"
},
"estab_date": {
"title": "Estab date",
"description": "Establishment date in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"closing_date": {
"title": "Closing date",
"description": "Closing date in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"status": {
"$ref": "#/definitions/Status"
},
"is_active": {
"title": "Is active",
"description": "Is subject active or not",
"type": "boolean"
},
"address": {
"$ref": "#/definitions/Address"
},
"bank_accounts": {
"description": "List of bank accounts",
"type": "array",
"items": {
"$ref": "#/definitions/BankAccount"
},
"readOnly": true
},
"phones": {
"description": "List of contact phones",
"type": "array",
"items": {
"$ref": "#/definitions/PhoneScored"
},
"readOnly": true
},
"mobiles": {
"description": "List of contact mobile phones",
"type": "array",
"items": {
"$ref": "#/definitions/PhoneScored"
},
"readOnly": true
},
"emails": {
"description": "List of contact e-mail addresses",
"type": "array",
"items": {
"$ref": "#/definitions/EmailScored"
},
"readOnly": true
},
"webs": {
"description": "List of web pages",
"type": "array",
"items": {
"$ref": "#/definitions/WebScored"
},
"readOnly": true
},
"industry": {
"$ref": "#/definitions/Industry"
},
"secondary_industries": {
"description": "Secondary industries and their codes",
"type": "array",
"items": {
"$ref": "#/definitions/Industry"
}
},
"magnitude": {
"$ref": "#/definitions/Magnitude"
},
"turnover": {
"$ref": "#/definitions/Turnover"
},
"court": {
"$ref": "#/definitions/Court"
},
"is_vatpayer": {
"title": "Is vatpayer",
"description": "Is company a VAT payer?",
"type": "boolean"
},
"vat_registration_type": {
"title": "Vat registration type",
"description": "Vatpayer registration §",
"type": "boolean"
},
"vat_registration_date": {
"title": "Vat registration date",
"description": "Date of VAT registration",
"type": "string",
"format": "date-time"
},
"is_unreliable_vatpayer": {
"title": "Is unreliable vatpayer",
"description": "Unreliable VAT payer",
"type": "boolean"
},
"unreliable_vatpayer_since": {
"title": "Unreliable vatpayer since",
"description": "Unreliable VAT payer stamp in YYYY-MM-DDTHH:mm:ss format",
"type": "string",
"format": "date-time"
},
"vzp_debt": {
"title": "Vzp debt",
"description": "Current debt to VZP, returns null for Czech companies",
"type": "string",
"format": "decimal"
},
"insolvency_cases": {
"description": "Insolvency cases",
"type": "array",
"items": {
"$ref": "#/definitions/InsolvencyCase"
},
"readOnly": true
},
"sk_insolvency_cases": {
"description": "Sk insolvency cases",
"type": "array",
"items": {
"$ref": "#/definitions/SKInsolvencyCase"
},
"readOnly": true
},
"gps": {
"$ref": "#/definitions/GPS"
},
"salutation": {
"title": "Salutation",
"description": "Company name as vokativ (if available)",
"type": "string",
"maxLength": 200,
"minLength": 1
},
"owning_type": {
"$ref": "#/definitions/OwningType"
},
"profit": {
"$ref": "#/definitions/Profit"
},
"ebidta": {
"$ref": "#/definitions/FS"
},
"bank_accounts_balance": {
"$ref": "#/definitions/FS"
},
"company_index": {
"$ref": "#/definitions/CompanyIndex"
},
"link": {
"title": "Link",
"description": "Link to Merk.cz",
"type": "string",
"format": "uri",
"minLength": 1
},
"business_premises_count": {
"title": "Business premises count",
"description": "Business premises (branches) count",
"type": "integer"
},
"active_licenses_count": {
"title": "Active licenses count",
"description": "Active licenses count",
"type": "integer"
},
"body": {
"$ref": "#/definitions/Body"
},
"esi": {
"description": "European Structural & Investment Funds grants (cz only)",
"type": "array",
"items": {
"$ref": "#/definitions/ESI"
},
"readOnly": true
},
"government_grants": {
"description": "Local government grants (cz only)",
"type": "array",
"items": {
"$ref": "#/definitions/GovernmentGrant"
},
"readOnly": true
},
"trademarks": {
"description": "Registered trademarks",
"type": "array",
"items": {
"$ref": "#/definitions/Trademark"
},
"readOnly": true
},
"twitter": {
"description": "List of Twitter accounts",
"type": "array",
"items": {
"$ref": "#/definitions/Contact"
},
"readOnly": true
},
"facebook": {
"description": "List of Facebook accounts",
"type": "array",
"items": {
"$ref": "#/definitions/Contact"
},
"readOnly": true
},
"linkedin": {
"description": "List of Linkedin profiles",
"type": "array",
"items": {
"$ref": "#/definitions/Contact"
},
"readOnly": true
},
"acting_manner": {
"type": "array",
"items": {
"$ref": "#/definitions/ActingManner"
},
"readOnly": true
},
"last_financial_statement": {
"$ref": "#/definitions/LastFinancialStatement"
}
}
},
"BaseAddress": {
"title": "Address",
"required": [
"number_descriptive",
"municipality_part",
"municipality",
"number",
"street",
"postal_code",
"number_orientation"
],
"type": "object",
"properties": {
"country_code": {
"title": "Country code",
"description": "2 char country code e.g. \"cz\"",
"type": "string",
"enum": [
"cz",
"sk"
]
},
"number_descriptive": {
"title": "Number descriptive",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"municipality_part": {
"title": "Municipality part",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"municipality": {
"title": "Municipality",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"number": {
"title": "Number",
"type": "string",
"maxLength": 30,
"minLength": 1
},
"street": {
"title": "Street",
"type": "string",
"maxLength": 255,
"minLength": 1
},
"postal_code": {
"title": "Postal code",
"type": "string",
"maxLength": 10,
"minLength": 1
},
"number_orientation": {
"title": "Number orientation",
"type": "string",
"maxLength": 255,
"minLength": 1
}
}
},
"BusinessPremise": {
"required": [
"estab_date",
"address",
"industries",
"license_industry",
"premise_type"
],
"type": "object",
"properties": {
"estab_date": {
"title": "Estab date",
"type": "string",
"format": "date"
},
"address": {
"$ref": "#/definitions/BaseAddress"
},
"industries": {
"description": "List of strings (obory podnikani pobocky nebo zivnosti)",
"type": "array",
"items": {
"description": "List of strings (obory podnikani pobocky nebo zivnosti)",
"type": "object",
"properties": {}
}
},
"license_industry": {
"title": "License industry",
"description": "Predmet podnikani zivnosti",
"type": "string",
"minLength": 1
},
"premise_type": {
"title": "Premise type",
"description": "see Enums",
"type": "integer"
}
}
},
"BP": {
"required": [
"company_regno",
"company_name",
"company_address",
"premises_count",
"premises"
],
"type": "object",
"properties": {
"company_regno": {
"title": "Company regno",
"description": "Registration number",
"type": "string",
"minLength": 1
},
"company_name": {
"title": "Company name",
"description": "Subject name",
"type": "string",
"minLength": 1
},
"company_address": {
"$ref": "#/definitions/Address"
},
"premises_count": {
"title": "Premises count",
"type": "integer"
},
"premises": {
"type": "array",
"items": {
"$ref": "#/definitions/BusinessPremise"
}
}
}
},
"FICZYear": {
"required": [
"year",
"company_index",
"bezne_zadluzeni",
"celkove_zadluzeni",
"cizi_zdroje",
"dan",
"eat",
"ebit",
"ebitda",
"ebt",
"eva",
"financni_paka",
"hruba_roa",
"index_bonity",
"kdz",
"koeficient_samofinancovani",
"likvidita1",
"likvidita2",
"likvidita3",
"marze",
"marze_percento",
"obrat_pohledavek",
"obrat_zasob",
"obrat_zavazku",
"obratka_majetku",
"pracovni_kapital",
"pridana_hodnota",
"roa",
"roe",
"ros",
"rtest_cash_flow",
"rtest_rentabilita_kapitalu",
"rtest_splaceni_dluhu",
"rtest_vlastni_kapital",
"stupen_prekapitalizovani",
"tafleruv_index",
"tokove_zadluzeni",
"trzby",
"trzby_a_vynosy",
"uverova_zadluzenost_majetku",
"vynosy",
"zisk_pred_zdanenim",
"zskore"
],
"type": "object",
"properties": {
"year": {
"title": "Year",
"description": "year",
"type": "number"
},
"company_index": {
"title": "Company index",
"description": "rating",
"type": "number"
},
"bezne_zadluzeni": {
"title": "Bezne zadluzeni",
"description": "Běžná zadluženost majetku",
"type": "number"
},
"celkove_zadluzeni": {
"title": "Celkove zadluzeni",
"description": "Celkové zadlužení",
"type": "number"
},
"cizi_zdroje": {
"title": "Cizi zdroje",
"description": "Cizí zdroje",
"type": "number"
},
"dan": {
"title": "Dan",
"description": "Daň",
"type": "number"
},
"eat": {
"title": "Eat",
"description": "EAT - Čistý zisk",
"type": "number"
},
"ebit": {
"title": "Ebit",
"description": "EBIT - Zisk před zdaněním a úroky",
"type": "number"
},
"ebitda": {
"title": "Ebitda",
"description": "EBITDA - Zisk před zdaněním, úroky a odpisy",
"type": "number"
},
"ebt": {
"title": "Ebt",
"description": "EBT - Zisk před zdaněním",
"type": "number"
},
"eva": {
"title": "Eva",
"description": "EVA - Ekonomická přidaná hodnota ",
"type": "number"
},
"financni_paka": {
"title": "Financni paka",
"description": "Finanční páka",
"type": "number"
},
"hruba_roa": {
"title": "Hruba roa",
"description": "Hrubá ROA (Rentabilita aktiv)",
"type": "number"
},
"index_bonity": {
"title": "Index bonity",
"description": "Index bonity",
"type": "number"
},
"kdz": {
"title": "Kdz",
"description": "Krátkodobé závazky",
"type": "number"
},
"koeficient_samofinancovani": {
"title": "Koeficient samofinancovani",
"description": "Koeficient samofinancování",
"type": "number"
},
"likvidita1": {
"title": "Likvidita1",
"description": "Likvidita 1. stupně - pohotová",
"type": "number"
},
"likvidita2": {
"title": "Likvidita2",
"description": "Likvidita 2. stupně - běžná",
"type": "number"
},
"likvidita3": {
"title": "Likvidita3",
"description": "Likvidita 3. stupně - celková",
"type": "number"
},
"marze": {
"title": "Marze",
"description": "Marže",
"type": "number"
},
"marze_percento": {
"title": "Marze percento",
"description": "Procento marže",
"type": "number"
},
"obrat_pohledavek": {
"title": "Obrat pohledavek",
"description": "Doba obratu pohledávek",
"type": "number"
},
"obrat_zasob": {
"title": "Obrat zasob",
"description": "Doba obratu zásob",
"type": "number"
},
"obrat_zavazku": {
"title": "Obrat zavazku",
"description": "Doba obratu závazků",
"type": "number"
},
"obratka_majetku": {
"title": "Obratka majetku",
"description": "Obrat majetku",
"type": "number"
},
"pracovni_kapital": {
"title": "Pracovni kapital",
"description": "Pracovní kapitál",
"type": "number"
},
"pridana_hodnota": {
"title": "Pridana hodnota",
"description": "Přidaná hodnota",
"type": "number"
},
"roa": {
"title": "Roa",
"description": "ROA - Rentabilita aktiv",
"type": "number"
},
"roe": {
"title": "Roe",
"description": "ROE - Rentabilita vlastního kapitálu",
"type": "number"
},
"ros": {
"title": "Ros",
"description": "ROS - Rentabilita tržeb",
"type": "number"
},
"rtest_cash_flow": {
"title": "Rtest cash flow",
"description": "Rychlý test - Podíl cash flow z výnosů",
"type": "number"
},
"rtest_rentabilita_kapitalu": {
"title": "Rtest rentabilita kapitalu",
"description": "Rychlý test - Rentabilita celkového kapitálu",
"type": "number"
},
"rtest_splaceni_dluhu": {
"title": "Rtest splaceni dluhu",
"description": "Rychlý test - Doba splácení dluhu v letech",
"type": "number"
},
"rtest_vlastni_kapital": {
"title": "Rtest vlastni kapital",
"description": "Rychlý test - Podíl vlastního kapitálu",
"type": "number"
},
"stupen_prekapitalizovani": {
"title": "Stupen prekapitalizovani",
"description": "Stupeň překapitalizování",
"type": "number"
},
"tafleruv_index": {
"title": "Tafleruv index",
"description": "Taflerův index",
"type": "number"
},
"tokove_zadluzeni": {
"title": "Tokove zadluzeni",
"description": "Tokové zadlužení",
"type": "number"
},
"trzby": {
"title": "Trzby",
"description": "Tržby",
"type": "number"
},
"trzby_a_vynosy": {
"title": "Trzby a vynosy",
"description": "Tržby a výnosy",
"type": "number"
},
"uverova_zadluzenost_majetku": {
"title": "Uverova zadluzenost majetku",
"description": "Úvěrová zadluženost majetku",
"type": "number"
},
"vynosy": {
"title": "Vynosy",
"description": "Výnosy",
"type": "number"
},
"zisk_pred_zdanenim": {
"title": "Zisk pred zdanenim",
"description": "Zisk před zdaněním",
"type": "number"
},
"zskore": {
"title": "Zskore",
"description": "Z-skóre",
"type": "number"
}
}
},
"FICZ": {
"required": [
"financial_indicators"
],
"type": "object",
"properties": {
"financial_indicators": {
"type": "array",
"items": {
"$ref": "#/definitions/FICZYear"
}
}
}
},
"FSCZYear": {
"required": [
"year",
"x0",
"p1201",
"p1203",
"p1205",
"p1206",
"p1210",
"p1212",
"p1211",
"p40001",
"p24828",
"p40002",
"p40003",
"p1215",
"p1214",
"p1218",
"p50065",
"p1220",
"p1221",
"p1222",
"p1229",
"p40004",
"p1224",
"p1225",
"p1226",
"p40005",
"p1228",
"p1227",
"p1230",
"p40006",
"p40007",
"p40008",
"p40009",
"p1233",
"p40010",
"p40011",
"p1235",
"p24275",
"p1240",
"p1242",
"p1243",
"p1244",
"p40012",
"p1245",
"p1247",
"p1246",
"p1248",
"p40013",
"p1251",
"p1253",
"p1255",
"p1256",
"p24830",
"p40014",
"p1254",
"p25039",
"p24829",
"p1257",
"p1259",
"p1261",
"p1267",
"p1268",
"p40015",
"p1262",
"p1263",
"p1264",
"p24831",
"p24832",
"p1269",
"p1270",
"p40016",
"p40017",
"p40018",
"p40019",
"p40020",
"p1279",
"p24833",
"p24834",
"p1282",
"p1600",
"p1602",
"p1604",
"p1606",
"p1295",
"p1297",
"p1300",
"p1301",
"p1305",
"p24277",
"p40021",
"p40022",
"p1306",
"p1311",
"p1312",
"p1313",
"p25034",
"p25035",
"p40023",
"p40024",
"p40025",
"p1324",
"p1325",
"p1608",
"p1329",
"p25036",
"p1331",
"p25037",
"p1343",
"p1344",
"p24843",
"p24844",
"p24842",
"p1350",
"p40026",
"p1354",
"p24845",
"p40027",
"p40028",
"p40029",
"p1359",
"p25024",
"p1362",
"p1357",
"p1358",
"p1373",
"p40030",
"p25025",
"p25026",
"p1363",
"p1366",
"p40031",
"p40032",
"p40033",
"p40034",
"p24846",
"p25027",
"p40035",
"p1374",
"p1375",
"p40036",
"p1369",
"p40037",
"p1370",
"p1371",
"p1372",
"p25029",
"p1376",
"p1385",
"p1386",
"p1388",
"p1610",
"p1612",
"p1614",
"p1511",
"p1506",
"p1514",
"p1508",
"p1515",
"p1516",
"p1512",
"p1513",
"p1518",
"p1520",
"p40038",
"p1522",
"p40039",
"p40040",
"p40041",
"p40042",
"p40043",
"p40044",
"p40045",
"p40046",
"p24849",
"p24850",
"p40047",
"p40048",
"p24851",
"p24852",
"p1524",
"p40049",
"p40050",
"p1545",
"p40051",
"p40052",
"p40053",
"p40054",
"p40055",
"p40056",
"p40057",
"p40058",
"p40059",
"p40060",
"p40061",
"p40062",
"p40063",
"p40064",
"p40065",
"p40066",
"p40067",
"p1574",
"p40068",
"p40069",
"p40070",
"p40071",
"p40072",
"p1591",
"p40073",
"p40074"
],
"type": "object",
"properties": {
"year": {
"title": "Year",
"description": "year",
"type": "number"
},
"x0": {
"title": "X0",
"description": "Obrat",
"type": "number"
},
"p1201": {
"title": "P1201",
"description": "AKTIVA CELKEM",
"type": "number"
},
"p1203": {
"title": "P1203",
"description": "A. Pohledávky za upsaný vlastní kapitál",
"type": "number"
},
"p1205": {
"title": "P1205",
"description": "Stálá aktiva",
"type": "number"
},
"p1206": {
"title": "P1206",
"description": "Dlouhodobý nehmotný majetek",
"type": "number"
},
"p1210": {
"title": "P1210",
"description": "Nehmotné výsledky vývoje",
"type": "number"
},
"p1212": {
"title": "P1212",
"description": "Ocenitelná práva",
"type": "number"
},
"p1211": {
"title": "P1211",
"description": "Software",
"type": "number"
},
"p40001": {
"title": "P40001",
"description": "Ostatní ocenitelná práva",
"type": "number"
},
"p24828": {
"title": "P24828",
"description": "Goodwill",
"type": "number"
},
"p40002": {
"title": "P40002",
"description": "Ostatní dlouhodobý nehmotný majetek",
"type": "number"
},
"p40003": {
"title": "P40003",
"description": "Poskytnuté zálohy na dl. nehmotný majetek a nedokončený dl. nehmotný majetek",
"type": "number"
},
"p1215": {
"title": "P1215",
"description": "Poskytnuté zálohy na dlouhodobý nehmotný majetek",
"type": "number"
},
"p1214": {
"title": "P1214",
"description": "Nedokončený dlouhodobý nehmotný majetek",
"type": "number"
},
"p1218": {
"title": "P1218",
"description": "Dlouhodobý hmotný majetek",
"type": "number"
},
"p50065": {
"title": "P50065",
"description": "Pozemky a stavby",
"type": "number"
},
"p1220": {
"title": "P1220",
"description": "Pozemky",
"type": "number"
},
"p1221": {
"title": "P1221",
"description": "Stavby",
"type": "number"
},
"p1222": {
"title": "P1222",
"description": "Hmotné movité věci a jejich soubory",
"type": "number"
},
"p1229": {
"title": "P1229",
"description": "Oceňovací rozdíl k nabytému majetku",
"type": "number"
},
"p40004": {
"title": "P40004",
"description": "Ostatní dlouhodobý hmotný majetek",
"type": "number"
},
"p1224": {
"title": "P1224",
"description": "Pěstitelské celky trvalých porostů",
"type": "number"
},
"p1225": {
"title": "P1225",
"description": "Dospělá zvířata a jejich skupiny",
"type": "number"
},
"p1226": {
"title": "P1226",
"description": "Jiný dlouhodobý hmotný majetek",
"type": "number"
},
"p40005": {
"title": "P40005",
"description": "Poskytnuté zálohy na dl. hmotný majetek a nedokončený dl. hmotný majetek",
"type": "number"
},
"p1228": {
"title": "P1228",
"description": "Poskytnuté zálohy na dlouhodobý hmotný majetek",
"type": "number"
},
"p1227": {
"title": "P1227",
"description": "Nedokončený dlouhodobý hmotný majetek",
"type": "number"
},
"p1230": {
"title": "P1230",
"description": "Dlouhodobý finanční majetek",
"type": "number"
},
"p40006": {
"title": "P40006",
"description": "Podíly - ovládaná nebo ovládající osoba",
"type": "number"
},
"p40007": {
"title": "P40007",
"description": "Zápůjčky a úvěry - ovládaná nebo ovládající osoba",
"type": "number"
},
"p40008": {
"title": "P40008",
"description": "Podíly - podstatný vliv",
"type": "number"
},
"p40009": {
"title": "P40009",
"description": "Zápůjčky a úvěry - podstatný vliv",
"type": "number"
},
"p1233": {
"title": "P1233",
"description": "Ostatní dlouhodobé cenné papíry a podíly",
"type": "number"
},
"p40010": {
"title": "P40010",
"description": "Zápůjčky a úvěry - ostatní",
"type": "number"
},
"p40011": {
"title": "P40011",
"description": "Ostatní dlouhodobý finanční majetek",
"type": "number"
},
"p1235": {
"title": "P1235",
"description": "Jiný dlouhodobý finanční majetek",
"type": "number"
},
"p24275": {
"title": "P24275",
"description": "Poskytnuté zálohy na dlouhodobý finanční majetek",
"type": "number"
},
"p1240": {
"title": "P1240",
"description": "Oběžná aktiva",
"type": "number"
},
"p1242": {
"title": "P1242",
"description": "Zásoby",
"type": "number"
},
"p1243": {
"title": "P1243",
"description": "Materiál",
"type": "number"
},
"p1244": {
"title": "P1244",
"description": "Nedokončená výroba a polotovary",
"type": "number"
},
"p40012": {
"title": "P40012",
"description": "Výrobky a zboží",
"type": "number"
},
"p1245": {
"title": "P1245",
"description": "Výrobky",
"type": "number"
},
"p1247": {
"title": "P1247",
"description": "Zboží",
"type": "number"
},
"p1246": {
"title": "P1246",
"description": "Mladá a ostatní zvířata a jejich skupiny",
"type": "number"
},
"p1248": {
"title": "P1248",
"description": "Poskytnuté zálohy na zásoby",
"type": "number"
},
"p40013": {
"title": "P40013",
"description": "Pohledávky",
"type": "number"
},
"p1251": {
"title": "P1251",
"description": "Dlouhodobé pohledávky",
"type": "number"
},
"p1253": {
"title": "P1253",
"description": "Pohledávky z obchodních vztahů (z obchodního styku)",
"type": "number"
},
"p1255": {
"title": "P1255",
"description": "Pohledávky - ovládající a řídící osoba",
"type": "number"
},
"p1256": {
"title": "P1256",
"description": "Pohledávky - podstatný vliv",
"type": "number"
},
"p24830": {
"title": "P24830",
"description": "Odložená daňová pohledávka",
"type": "number"
},
"p40014": {
"title": "P40014",
"description": "Pohledávky - ostatní",
"type": "number"
},
"p1254": {
"title": "P1254",
"description": "Pohledávky za společníky",
"type": "number"
},
"p25039": {
"title": "P25039",
"description": "Dlouhodobé poskytnuté zálohy",
"type": "number"
},
"p24829": {
"title": "P24829",
"description": "Dohadné účty aktivní",
"type": "number"
},
"p1257": {
"title": "P1257",
"description": "Jiné pohledávky",
"type": "number"
},
"p1259": {
"title": "P1259",
"description": "Krátkodobé pohledávky",
"type": "number"
},
"p1261": {
"title": "P1261",
"description": "Pohledávky z obchodních vztahů (z obchodního styku)",
"type": "number"
},
"p1267": {
"title": "P1267",
"description": "Pohledávky - ovládající a řídící osoba",
"type": "number"
},
"p1268": {
"title": "P1268",
"description": "Pohledávky - podstatný vliv",
"type": "number"
},
"p40015": {
"title": "P40015",
"description": "Pohledávky - ostatní",
"type": "number"
},
"p1262": {
"title": "P1262",
"description": "Pohledávky za společníky",
"type": "number"
},
"p1263": {
"title": "P1263",
"description": "Sociální zabezpečení (a zdravotní pojištění)",
"type": "number"
},
"p1264": {
"title": "P1264",
"description": "Stát - daňové pohledávky",
"type": "number"
},
"p24831": {
"title": "P24831",
"description": "Krátkodobé poskytnuté zálohy",
"type": "number"
},
"p24832": {
"title": "P24832",
"description": "Dohadné účty aktivní",
"type": "number"
},
"p1269": {
"title": "P1269",
"description": "Jiné pohledávky",
"type": "number"
},
"p1270": {
"title": "P1270",
"description": "Krátkodobý finanční majetek",
"type": "number"
},
"p40016": {
"title": "P40016",
"description": "Podíly - ovládaná nebo ovládající osoba",
"type": "number"
},
"p40017": {
"title": "P40017",
"description": "Ostatní krátkodobý finanční majetek",
"type": "number"
},
"p40018": {
"title": "P40018",
"description": "Peněžní prostředky",
"type": "number"
},
"p40019": {
"title": "P40019",
"description": "Peněžní prostředky v pokladně",
"type": "number"
},
"p40020": {
"title": "P40020",
"description": "Peněžní prostředky na účtech",
"type": "number"
},
"p1279": {
"title": "P1279",
"description": "Časové rozlišení aktiv",
"type": "number"
},
"p24833": {
"title": "P24833",
"description": "Náklady příštích období",
"type": "number"
},
"p24834": {
"title": "P24834",
"description": "Komplexní náklady příštích období",
"type": "number"
},
"p1282": {
"title": "P1282",
"description": "Příjmy příštích období",
"type": "number"
},
"p1600": {
"title": "P1600",
"description": "Časové rozlišení aktiv",
"type": "number"
},
"p1602": {
"title": "P1602",
"description": "Náklady příštích období",
"type": "number"
},
"p1604": {
"title": "P1604",
"description": "Komplexní náklady příštích období",
"type": "number"
},
"p1606": {
"title": "P1606",
"description": "Příjmy příštích období",
"type": "number"
},
"p1295": {
"title": "P1295",
"description": "PASIVA CELKEM",
"type": "number"
},
"p1297": {
"title": "P1297",
"description": "Vlastní kapitál",
"type": "number"
},
"p1300": {
"title": "P1300",
"description": "Základní kapitál",
"type": "number"
},
"p1301": {
"title": "P1301",
"description": "Základní kapitál",
"type": "number"
},
"p1305": {
"title": "P1305",
"description": "Vlastní akcie a vlastní obchodní podíly (-)",
"type": "number"
},
"p24277": {
"title": "P24277",
"description": "Změny základního kapitálu",
"type": "number"
},
"p40021": {
"title": "P40021",
"description": "Ážio a kapitálové fondy",
"type": "number"
},
"p40022": {
"title": "P40022",
"description": "Ážio",
"type": "number"
},
"p1306": {
"title": "P1306",
"description": "Kapitálové fondy",
"type": "number"
},
"p1311": {
"title": "P1311",
"description": "Ostatní kapitálové fondy",
"type": "number"
},
"p1312": {
"title": "P1312",
"description": "Oceňovací rozdíly z přecenění majetku (a závazků)",
"type": "number"
},
"p1313": {
"title": "P1313",
"description": "Oceňovací rozdíly z přecenění při přeměnách",
"type": "number"
},
"p25034": {
"title": "P25034",
"description": "Rozdíly z přeměn obchodních korporací",
"type": "number"
},
"p25035": {
"title": "P25035",
"description": "Rozdíly z ocenění při přeměnách obchodních korporací",
"type": "number"
},
"p40023": {
"title": "P40023",
"description": "Fondy ze zisku",
"type": "number"
},
"p40024": {
"title": "P40024",
"description": "Ostatní rezervní fondy",
"type": "number"
},
"p40025": {
"title": "P40025",
"description": "Statutární a ostatní fondy",
"type": "number"
},
"p1324": {
"title": "P1324",
"description": "Výsledek hospodaření minulých let (+/-)",
"type": "number"
},
"p1325": {
"title": "P1325",
"description": "Nerozdělený zisk minulých let",
"type": "number"
},
"p1608": {
"title": "P1608",
"description": "Nerozdělený zisk nebo neuhrazená ztráta minulých let (+/-)",
"type": "number"
},
"p1329": {
"title": "P1329",
"description": "Neuhrazená ztráta minulých let",
"type": "number"
},
"p25036": {
"title": "P25036",
"description": "Jiný výsledek hospodaření minulých let (+/-)",
"type": "number"
},
"p1331": {
"title": "P1331",
"description": "Výsledek hospodaření běžného účetního období (+/-)",
"type": "number"
},
"p25037": {
"title": "P25037",
"description": "Rozhodnuto o zálohách na výplatu podílu na zisku (-)",
"type": "number"
},
"p1343": {
"title": "P1343",
"description": "Cizí zdroje",
"type": "number"
},
"p1344": {
"title": "P1344",
"description": "Rezervy",
"type": "number"
},
"p24843": {
"title": "P24843",
"description": "Rezerva na důchody a podobné závazky",
"type": "number"
},
"p24844": {
"title": "P24844",
"description": "Rezerva na daň z příjmů",
"type": "number"
},
"p24842": {
"title": "P24842",
"description": "Rezervy podle zvláštních právních předpisů (Rezervy zákonné)",
"type": "number"
},
"p1350": {
"title": "P1350",
"description": "Ostatní rezervy",
"type": "number"
},
"p40026": {
"title": "P40026",
"description": "Závazky",
"type": "number"
},
"p1354": {
"title": "P1354",
"description": "Dlouhodobé závazky",
"type": "number"
},
"p24845": {
"title": "P24845",
"description": "Vydané dluhopisy",
"type": "number"
},
"p40027": {
"title": "P40027",
"description": "Vyměnitelné dluhopisy",
"type": "number"
},
"p40028": {
"title": "P40028",
"description": "Ostatní dluhopisy",
"type": "number"
},
"p40029": {
"title": "P40029",
"description": "Závazky k úvěrovým institucím",
"type": "number"
},
"p1359": {
"title": "P1359",
"description": "Dlouhodobé přijaté zálohy",
"type": "number"
},
"p25024": {
"title": "P25024",
"description": "Závazky z obchodních vztahů",
"type": "number"
},
"p1362": {
"title": "P1362",
"description": "Dlouhodobé směnky k úhradě",
"type": "number"
},
"p1357": {
"title": "P1357",
"description": "Závazky - ovládaná nebo ovládající osoba",
"type": "number"
},
"p1358": {
"title": "P1358",
"description": "Závazky - podstatný vliv",
"type": "number"
},
"p1373": {
"title": "P1373",
"description": "Odložený daňový závazek",
"type": "number"
},
"p40030": {
"title": "P40030",
"description": "Závazky - ostatní",
"type": "number"
},
"p25025": {
"title": "P25025",
"description": "Závazky ke společníkům",
"type": "number"
},
"p25026": {
"title": "P25026",
"description": "Dohadné účty pasivní",
"type": "number"
},
"p1363": {
"title": "P1363",
"description": "Jiné (dlouhodobé) závazky",
"type": "number"
},
"p1366": {
"title": "P1366",
"description": "Krátkodobé závazky",
"type": "number"
},
"p40031": {
"title": "P40031",
"description": "Vydané dluhopisy",
"type": "number"
},
"p40032": {
"title": "P40032",
"description": "Vyměnitelné dluhopisy",
"type": "number"
},
"p40033": {
"title": "P40033",
"description": "Ostatní dluhopisy",
"type": "number"
},
"p40034": {
"title": "P40034",
"description": "Závazky k úvěrovým institucím",
"type": "number"
},
"p24846": {
"title": "P24846",
"description": "Krátkodobé přijaté zálohy",
"type": "number"
},
"p25027": {
"title": "P25027",
"description": "Závazky z obchodních vztahů (z obchodního styku)",
"type": "number"
},
"p40035": {
"title": "P40035",
"description": "Krátkodobé směnky k úhradě",
"type": "number"
},
"p1374": {
"title": "P1374",
"description": "Závazky - ovládaná nebo ovládající osoba",
"type": "number"
},
"p1375": {
"title": "P1375",
"description": "Závazky - podstatný vliv",
"type": "number"
},
"p40036": {
"title": "P40036",
"description": "Závazky ostatní",
"type": "number"
},
"p1369": {
"title": "P1369",
"description": "Závazky ke společníkům",
"type": "number"
},
"p40037": {
"title": "P40037",
"description": "Krátkodobé finanční výpomoci",
"type": "number"
},
"p1370": {
"title": "P1370",
"description": "Závazky k zaměstnancům",
"type": "number"
},
"p1371": {
"title": "P1371",
"description": "Závazky ze sociálního a zdravotního zabezpečení",
"type": "number"
},
"p1372": {
"title": "P1372",
"description": "Stát - daňové závazky a dotace",
"type": "number"
},
"p25029": {
"title": "P25029",
"description": "Dohadné účty pasivní",
"type": "number"
},
"p1376": {
"title": "P1376",
"description": "Jiné závazky",
"type": "number"
},
"p1385": {
"title": "P1385",
"description": "Časové rozlišení pasiv",
"type": "number"
},
"p1386": {
"title": "P1386",
"description": "Výdaje příštích období",
"type": "number"
},
"p1388": {
"title": "P1388",
"description": "Výnosy příštích období",
"type": "number"
},
"p1610": {
"title": "P1610",
"description": "Časové rozlišení pasiv",
"type": "number"
},
"p1612": {
"title": "P1612",
"description": "Výdaje příštích období",
"type": "number"
},
"p1614": {
"title": "P1614",
"description": "Výnosy příštích období",
"type": "number"
},
"p1511": {
"title": "P1511",
"description": "Tržby za prodej vlastních výrobků a služeb",
"type": "number"
},
"p1506": {
"title": "P1506",
"description": "Tržby za prodej zboží",
"type": "number"
},
"p1514": {
"title": "P1514",
[...]
